$variant: 'light';
$trans: 'true';
$titlebar: 'light';
$theme: 'default';
$titlebutton: '';


@import "_colors"; //use gtk colors
@import "_variables";
@import "_drawing";
@import "_common";
@import "_extensions";
